header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 16vh;
  z-index: 11;
  background: white;
}
header div#countdown {
  z-index: 39;
  display: block;
  position: absolute;
  top: 7vh;
  left: 6vw;
  width: 22vw;
  text-align: right;
  font-family: Montserrat, sans-serif;
  font-weight: initial;
  color: #565556bd;
  display: none;
}
header div#countdown div {
  font-size: 0.6em;
  text-align: center;
  background: white;
}
header div#countdown div#numberOfDays {
  font-size: 5em;
  line-height: 63px;
  text-align: center;
}
header #welcome {
  margin-bottom: 6vh;
  text-align: left;
  color: #565556;
  position: fixed;
  z-index: 20;
  top: 1.7vh;
  right: 3vw;
  font-size: 0.7em;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: initial;
}
header img {
  width: 100vw;
  background-color: white;
  position: absolute;
  top: 1vh;
  left: 43px;
}
main {
  font-family: Montserrat, sans-serif;
  margin: 17vh 0 3vh 0;
  padding-top: 1vh;
  top: 11vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: 14px;
}
.hidden {
  display: none;
}
header#start {
  opacity: 0;
}
main#index div#startlogga img {
  width: 100vw;
}
main#index div#login {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 46vh auto auto auto;
}
main#index div#login #email,
main#index div#login #password,
main#index div#login #loginbutton {
  margin: 1vh 1vw;
  text-align: center;
}
main#index div#login #email input,
main#index div#login #password input,
main#index div#login #loginbutton input {
  width: 17em;
  height: 2.5em;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
  border-style: none;
}
main#index div#login #email button,
main#index div#login #password button,
main#index div#login #loginbutton button {
  margin: 1.5vh auto 0 auto;
  position: static;
  display: inline-block;
  padding: 10px 20px;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #00aa3c95;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 2.5em;
  border-style: none;
}
main#index form {
  background-color: #00aa3c95;
  padding: 0.7em;
  border-radius: 10px;
}
#register {
  text-align: center;
  background-color: white;
  padding-top: 2vh;
}
#register a {
  font-size: 0.8em;
  color: #9ad2ac;
}
main#register > form {
  text-align: center;
}
main#register > form > p {
  text-align: center;
  color: #079933;
}
main#register > form > p > input {
  width: 57vw;
  height: 30px;
  font-size: 12px;
  color: #757575;
  display: inline-block;
  border-radius: 7px;
  /*text-align: center;*/
  border-style: solid;
  border-color: #00aa3c14;
  box-shadow: inset 0px 0px 216px -111px #00aa3c;
}
main#register > form > p > select {
  width: 58vw;
  height: 36px;
  font-size: 12px;
  color: #757575;
  display: inline-block;
  border-radius: 7px;
  border-style: solid;
  border-color: #00aa3c14;
  box-shadow: inset 0px 0px 216px -111px #00aa3c;
}
main#register div#loginbutton > button {
  position: static;
  display: inline-block;
  padding: 10px 20px;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #00aa3c95;
  color: white;
  width: 57vw;
  border-radius: 5px;
  height: 2.5em;
  border-style: none;
}
main#home {
  font-family: Montserrat, sans-serif;
  margin: 21vh 0 3vh 0;
  padding-top: 1vh;
  background-color: white;
  font-size: 14px;
  display: block;
}
main#home > div {
  margin: 6vh auto;
  background: #5a595a1a;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: 2px 2px 5px 0px #00000029;
  /* border: inset #0000001f 0px; */
  border-radius: 14px;
}
main#home > div#news {
  background-image: url(/graphics/open-book.jpg);
  /* background-position: center center; */
  background-size: 113vw;
  background-position: top;
  background-position-y: -4vh;
  filter: contrast(103%);
  /* margin: 0vh 4vw; */
  padding: 1vh 6vw;
}
main#home > div#news > h2 {
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.9em;
  font-variant-caps: all-petite-caps;
  display: inline-block;
  /* margin: auto auto; */
  width: 48%;
  /* padding-right: 2vw; */
}
main#home > div#news > p.info {
  font-size: 0.8em;
  display: inline-block;
  width: 48%;
  padding-left: 2vw;
}
main#home > div#news > div.text {
  display: flex;
}
main#home > div#news > div.text > p {
  background-image: linear-gradient(180deg, white 61%, transparent);
  border-radius: 10px;
  font-size: 1em;
  margin: 4vh 0vw;
  padding: 2vh 6vw 2vh 4vw;
  max-width: 32vw;
  display: inline-block;
  min-height: 25vh;
}
main#home > div h2 {
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.9em;
  font-variant-caps: all-petite-caps;
}
main#home > div p.info {
  font-size: 0.8em;
}
main#home > div > div.text p {
  background-image: linear-gradient(168deg, white, #eeeeee 24%);
  border-radius: 10px;
  padding: 5vh 5vw;
  border: #eeeeee inset 0px;
}
main#home > div > div.text > a {
  text-decoration: none;
  color: inherit;
}
main#home > div > div.text > a > div {
  margin: 6vh auto;
  background: #5a595a1a;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: 2px 2px 5px 0px #00000029;
  /* border: inset #0000001f 0px; */
  border-radius: 14px;
  background-image: url(/graphics/clouds.jpeg);
  background-size: 112vw 16vh;
  background-position: top;
}
main#home > div > div.text > a > div#eatery {
  background-image: url(http://eatery.se/wp-content/themes/eatery.hubpage_tema_1.0.0/images/bkg01.jpg);
  background-size: cover;
  background-position: center center;
  filter: grayscale(66%);
}
main#home > div > div.text > a > div#kista {
  background-image: url(https://static.thatsup.co/content/img/article/15/dec/känd-krögarduo-bakom-nytt-restaurangkoncept-i-kista-galleria.jpg);
  background-size: cover;
  background-position: center center;
  filter: grayscale(61%);
}
main#home > div > div.text > a > div h4 {
  color: white;
  font-size: 1em;
}
main#home > div > div.text > a > div p {
  font-size: 1em;
  color: white;
  background: transparent;
}
main#home > a {
  text-decoration: none;
  color: inherit;
  background-image: url('/graphics/clouds.jpeg');
}
main#home > a > div {
  margin: 6vh auto;
  background: #5a595a1a;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: 2px 2px 5px 0px #00000029;
  /* border: inset #0000001f 0px; */
  border-radius: 14px;
  background-image: url(/graphics/clouds.jpeg);
  background-size: 112vw 16vh;
  background-position: top;
}
main#home > a > div#faq {
  background-image: url(http://www.hannspree.eu/archiv/content_en/faq.png);
  background-position: bottom;
  height: 14vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  filter: hue-rotate(443deg);
}
main#home > a > div h2 {
  color: white;
  text-align: right;
}
main#home > a > div p.info {
  color: white;
  text-align: right;
}
main#confessions {
  margin: 17vh 0vw 0vh 1vw;
}
main#confessions > div#newConfession {
  margin: 7vh 3vw;
  padding: 0vh 4vw 0vh;
  border-radius: 15px;
  box-shadow: inset 0px 0px 263px -87px #00aa3c;
  display: flex;
}
main#confessions > div#newConfession > form > textarea {
  background-color: transparent;
  border-style: none;
  padding: 2vh 9vw 5vh 0vw;
  resize: none;
  font-family: monospace;
  font-size: 1.1em;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 3px;
}
main#confessions > div#newConfession > form > div {
  display: flex;
  position: absolute;
  right: 10vw;
  top: 30vh;
}
main#confessions > div#newConfession > form > div > button {
  color: #00000078;
}
main#confessions > blockquote {
  margin: 7vh 3vw;
  padding: 0vh 4vw 0vh;
  border-radius: 15px;
  box-shadow: inset 0px 0px 263px -87px #00aa3c;
  display: table;
  font-family: monospace;
}
main#confessions > blockquote#newConfession {
  border: inset 6px rgba(0, 170, 60, 0.2);
}
main#confessions > blockquote:nth-child(7n) {
  box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.2);
}
main#confessions > blockquote:nth-child(7n + 1) {
  box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.4);
}
main#confessions > blockquote:nth-child(7n + 2) {
  box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.6);
}
main#confessions > blockquote:nth-child(7n + 3) {
  box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.75);
}
main#confessions > blockquote > p {
  display: block;
}
main#confessions > blockquote > span.delete {
  position: relative;
  right: 8vw;
  top: -4vh;
}
main#confessions > blockquote > span.delete > a {
  text-decoration: none;
  color: red;
  font-weight: bolder;
}
main#confessions > blockquote > time {
  display: block;
  position: absolute;
  font-size: 0.8em;
  color: #5a595a45;
  left: 7vw;
}
