header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 16vh;
  z-index: 11;
  background: white;
}
header div#countdown {
  z-index: 39;
  display: block;
  position: absolute;
  top: 7vh;
  left: 6vw;
  width: 22vw;
  text-align: right;
  font-family: Montserrat, sans-serif;
  font-weight: initial;
  color: #565556bd;
  display: none;
}
header div#countdown > div {
  font-size: 0.6em;
  text-align: center;
  background: white;
}
header div#countdown > div#numberOfDays {
  font-size: 5em;
  line-height: 63px;
  text-align: center;
}
header > h1.welcome {
  margin-bottom: 6vh;
  text-align: right;
  color: #565556;
  position: fixed;
  z-index: 20;
  top: 1.7vh;
  right: 7vw;
  font-size: 0.7em;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: initial;
}
header img {
  width: 100vw;
  background-color: white;
  position: absolute;
  top: 1vh;
  left: 43px;
}
main {
  font-family: Montserrat, sans-serif;
  margin: 17vh 0 3vh 0;
  padding-top: 1vh;
  top: 11vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: 14px;
}
.hidden {
  display: none;
}
header#start {
  opacity: 0;
}
main#index div#startlogga img,
main#forgot div#startlogga img {
  width: 100vw;
}
main#index div#login,
main#forgot div#login {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 46vh auto auto auto;
}
main#index div#login #email,
main#forgot div#login #email,
main#index div#login #password,
main#forgot div#login #password,
main#index div#login #loginbutton,
main#forgot div#login #loginbutton {
  margin: 1vh 1vw;
  text-align: center;
}
main#index div#login #email input,
main#forgot div#login #email input,
main#index div#login #password input,
main#forgot div#login #password input,
main#index div#login #loginbutton input,
main#forgot div#login #loginbutton input {
  width: 17em;
  height: 2.5em;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
  border-style: none;
}
main#index div#login #email button,
main#forgot div#login #email button,
main#index div#login #password button,
main#forgot div#login #password button,
main#index div#login #loginbutton button,
main#forgot div#login #loginbutton button {
  margin: 1.5vh auto 0 auto;
  position: static;
  display: inline-block;
  padding: 10px 20px;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #00aa3c95;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 2.5em;
  border-style: none;
}
main#index form,
main#forgot form {
  background-color: #00aa3c95;
  padding: 0.7em;
  border-radius: 10px;
}
#register {
  text-align: center;
  background-color: white;
  padding-top: 2vh;
}
#register a {
  text-decoration: none;
  font-size: 0.8em;
  color: #9ad2ac;
}
main#register > form {
  text-align: center;
}
main#register > form > p {
  text-align: center;
  color: #079933;
}
main#register > form > p > input {
  width: 57vw;
  height: 30px;
  font-size: 12px;
  color: #757575;
  display: inline-block;
  border-radius: 7px;
  /*text-align: center;*/
  border-style: solid;
  border-color: #00aa3c14;
  box-shadow: inset 0px 0px 216px -111px #00aa3c;
}
main#register > form > p > select {
  width: 58vw;
  height: 36px;
  font-size: 12px;
  color: #757575;
  display: inline-block;
  border-radius: 7px;
  border-style: solid;
  border-color: #00aa3c14;
  box-shadow: inset 0px 0px 216px -111px #00aa3c;
}
main#register div#loginbutton > button {
  position: static;
  display: inline-block;
  padding: 10px 20px;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #00aa3c95;
  color: white;
  width: 57vw;
  border-radius: 5px;
  height: 2.5em;
  border-style: none;
}
main#home {
  font-family: Montserrat, sans-serif;
  margin: 21vh 0 3vh 0;
  padding-top: 1vh;
  background-color: white;
  font-size: 14px;
  display: block;
}
main#home > div {
  margin: 6vh auto;
  background: #5a595a1a;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: 2px 2px 5px 0px #00000029;
  /* border: inset #0000001f 0px; */
  border-radius: 14px;
}
main#home > div#sick {
  background-image: none;
  background-size: auto;
  margin: 7vh 0vw;
  padding: 3vh 3vh 3vh 3vh;
  border-radius: 15px;
  box-shadow: inset 0px 0px 154px -27px #673AB7;
  font-family: Montesserat, sans-serif;
}
main#home > div#sick > h2 {
  margin-bottom: 0em;
}
main#home > div#sick > div > form > textarea {
  width: 100%;
  background: transparent;
  border: none;
  text-align: center;
  height: 7vh;
  font-size: 1em;
  resize: none;
}
main#home > div#sick > div.text {
  display: none;
}
main#home > div#sick div > form > div > button {
  margin: 1.5vh auto 0 auto;
  position: static;
  display: inline-block;
  padding: 10px 20px;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #00aa3c95;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 2.5em;
  border-style: none;
}
main#home > div#news {
  background-image: url(/graphics/open-book.jpg);
  /* background-position: center center; */
  background-size: 113vw;
  background-position: top;
  background-position-y: -4vh;
  filter: contrast(103%);
  padding: 3vh 9vw;
  min-height: 8vh;
  font-family: Montserrat, sans-serif;
}
main#home > div#news > h2 {
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.2em;
  font-variant-caps: all-petite-caps;
  display: inline-block;
  margin: auto;
  width: 47%;
  transform: rotate(-0.6deg);
}
main#home > div#news > p.info {
  font-size: 0.8em;
  display: inline-block;
  width: 46%;
  font-family: inherit;
  margin: 1vh 0 0 4vw;
  transform: rotate(0.8deg);
}
main#home > div#news > div.text {
  display: flex;
  display: none;
}
main#home > div#news > div.text > p {
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  margin: 2vh 6vw 6vh 4vw;
  padding: 0vh 0vw 0vh 0vw;
  max-width: 37%;
  min-height: 25vh;
  display: inline-flex;
  background: none;
}
main#home > div#news > div.text > p:first-child {
  transform: rotate(-0.6deg);
}
main#home > div#news > div.text > p:first-child ~ p {
  transform: rotate(0.8deg);
}
main#home > div#food {
  background-image: none;
  background-size: auto;
  margin: 7vh 0vw;
  padding: 1vh 3vh 2vh 3vh;
  border-radius: 15px;
  box-shadow: inset 0px 0px 108px 1px #0086aa;
  font-family: Monterras, sans-serif;
}
main#home > div#food > h2 {
  font-size: 2em;
}
main#home > div#food > div.text {
  display: none;
}
main#home > div > h2 {
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.9em;
  font-variant-caps: all-petite-caps;
}
main#home > div > p.info {
  font-size: 1em;
  font-family: Montesserat, sans-serif;
}
main#home > div > div.text p {
  background-image: linear-gradient(168deg, white, #eeeeee 24%);
  border-radius: 10px;
  padding: 5vh 5vw;
  border: #eeeeee inset 0px;
}
main#home > div > div.text > a {
  text-decoration: none;
  color: inherit;
}
main#home > div > div.text > a > div {
  margin: 5vh auto;
  background: #5a595a1a;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: 2px 2px 5px 0px #00000029;
  /* border: inset #0000001f 0px; */
  border-radius: 14px;
  background-position: top;
  filter: hue-rotate(74deg);
  background-size: 149vw;
  font-family: Montesserat, sans-serif;
}
main#home > div > div.text > a > div#eatery {
  background-image: url(http://eatery.se/wp-content/themes/eatery.hubpage_tema_1.0.0/images/bkg01.jpg);
  background-size: cover;
  background-position: center center;
  filter: grayscale(66%);
}
main#home > div > div.text > a > div#kista {
  background-image: url(https://static.thatsup.co/content/img/article/15/dec/känd-krögarduo-bakom-nytt-restaurangkoncept-i-kista-galleria.jpg);
  background-size: cover;
  background-position: center center;
  filter: grayscale(61%);
}
main#home > div > div.text > a > div#Convini {
  background-image: url(/graphics/convini.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 13vh;
}
main#home > div > div.text > a > div#Convini p {
  color: black;
  font-size: 1.5em;
}
main#home > div > div.text > a > div#Convini > h4 {
  color: black;
}
main#home > div > div.text > a > div h4 {
  color: white;
  font-size: 1.5em;
}
main#home > div > div.text > a > div p {
  font-size: 1em;
  color: white;
  background: transparent;
}
main#home > form#makenews {
  margin: 6vh auto;
  background: #07993345;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: 2px 2px 5px 0px #00000029;
  border-radius: 14px;
}
main#home > form#makenews > h2 {
  font-size: 1em;
  margin: 0;
  text-align: center;
}
main#home > form#makenews > div.text {
  display: none;
}
main#home > form#makenews > div.text > textarea#content {
  width: 100%;
  height: 7vh;
  resize: none;
  background: transparent;
  border: none;
  font-size: 1.3em;
  text-align: center;
}
main#home > form#makenews > div.text > div > button {
  margin: 1.5vh auto 0 auto;
  position: static;
  display: inline-block;
  padding: 10px 20px;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #00aa3c95;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 2.5em;
  border-style: none;
}
main#home > a {
  text-decoration: none;
}
main#home > a > div {
  margin: 6vh auto;
  background: #5a595a1a;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: 2px 2px 5px 0px #00000029;
  border-radius: 14px;
}
main#home > a > div#confession {
  background-image: none;
  background-size: auto;
  margin: 7vh 0vw;
  padding: 3vh 3vh 3vh 3vh;
  border-radius: 15px;
  box-shadow: inset 0px 0px 154px -27px #00aa3c;
  font-family: monospace;
}
main#home > a > div#confession > p,
main#home > a > div#confession > h2 {
  text-align: left;
  display: block;
  color: black;
  font-size: 1.4em;
  font-weight: 100;
}
main#home > a > div#faq {
  background-image: url(/graphics/faq_banner.jpg);
  background-position: top;
  height: 14vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  filter: hue-rotate(-27deg);
}
main#home > a > div#faq > h2 {
  color: #565556;
  text-align: left;
  margin: 5vh 1vw;
}
main#home > a > div#admin {
  background-image: radial-gradient(#00aa3c, red 163%);
}
main#home > a > div#admin > p,
main#home > a > div#admin > h2 {
  text-align: center;
  display: block;
  color: white;
}
main#home > a > div > h2 {
  color: white;
  text-align: right;
}
main#home > a > div > p.info {
  color: white;
  text-align: right;
}
main#faq div {
  border-style: solid;
  border-radius: 7px;
  border-color: #eeeeee;
  background: #5a595a1a;
  margin: 0.5vh;
  padding: 0vh 0 0 2vw;
}
main#faq div h3 {
  /* border-style: solid; */
  border-style: solid;
  border-radius: 7px;
  border-color: #eeeeee;
  background: #5a595a1a;
  margin: 0;
  padding: 3vh 0vw 3vh 3vw;
}
main#faq > div > div {
  background: white;
  padding: 3vh 4vw 3vh 4vw;
  font-size: 1.1em;
}
main#confessions {
  margin: 17vh 0vw 0vh 1vw;
}
main#confessions > div#changeTopic {
  margin: 6vh 3vw 7vh;
}
main#confessions > div#changeTopic > div {
  display: inline-flex;
  border-radius: 6px;
  box-shadow: inset 0px 0px 263px -87px #0086aa;
  font-family: monospace;
  padding: 0vh 1vh;
  margin: 0.3vh 0vw;
}
main#confessions > div#changeTopic > div > a {
  text-decoration: none;
  color: black;
}
main#confessions > div#changeTopic > div > a > span#fat ~ h3 {
  color: white;
}
main#confessions > div#changeTopic > div > a > h3 {
  font-size: 0.9em;
}
main#confessions > div#changeTopic > div > a > h3:before {
  content: '#';
}
main#confessions > div#changeTopic > div#addTopic > form {
  padding: 0.85vh 0vh 1vh;
}
main#confessions > div#changeTopic > div#addTopic > form > h3 {
  font-size: 0.9em;
  display: inline;
}
main#confessions > div#changeTopic > div#addTopic > form > h3:before {
  content: '>>';
}
main#confessions > div#changeTopic > div#addTopic > form > input {
  display: inline;
  background: transparent;
  border-style: none;
  width: 12vh;
  font-family: monospace;
  font-size: 0.9em;
  font-weight: bold;
  height: 2em;
}
main#confessions > div#changeTopic > div#addTopic > form > button {
  display: inline;
  font-family: monospace;
  font-size: 0.9em;
  font-weight: bold;
}
main#confessions > div#newConfession,
main#confessions > div#newPost {
  margin: 7vh 3vw;
  padding: 0vh 4vw 0vh;
  border-radius: 15px;
  box-shadow: inset 0px 0px 263px -87px #00aa3c;
  display: block;
  height: 7em;
}
main#confessions > div#newConfession > form > textarea,
main#confessions > div#newPost > form > textarea {
  background-color: transparent;
  border-style: none;
  padding: 4vh 0;
  resize: none;
  font-family: monospace;
  font-size: 1.1em;
  /* line-height: 1.1em; */
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 3px;
  display: inline-flex;
  /* height: 6em; */
  vertical-align: middle;
}
main#confessions > div#newConfession > form > div,
main#confessions > div#newPost > form > div {
  display: inline-flex;
  height: 6em;
  width: 7em;
}
main#confessions > div#newConfession > form > div > button,
main#confessions > div#newPost > form > div > button {
  color: #00000078;
  height: 100%;
  width: 100%;
  font-size: 1em;
  font-family: monospace;
  letter-spacing: 1px;
}
main#confessions > blockquote {
  margin: 7vh 3vw;
  padding: 0vh 4vw 0vh;
  border-radius: 15px;
  box-shadow: inset 0px 0px 263px -87px #00aa3c;
  display: table;
  font-family: monospace;
}
main#confessions > blockquote#newConfession {
  border: inset 6px rgba(0, 170, 60, 0.2);
}
main#confessions > blockquote:nth-child(7n) {
  box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.2);
}
main#confessions > blockquote:nth-child(7n + 1) {
  box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.4);
}
main#confessions > blockquote:nth-child(7n + 2) {
  box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.6);
}
main#confessions > blockquote:nth-child(7n + 3) {
  box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.75);
}
main#confessions > blockquote > p {
  display: block;
}
main#confessions > blockquote > span.delete {
  position: relative;
  right: 8vw;
  top: -4vh;
}
main#confessions > blockquote > span.delete > a {
  text-decoration: none;
  color: red;
  font-weight: bolder;
}
main#confessions > blockquote > time {
  display: block;
  position: absolute;
  font-size: 0.8em;
  color: #5a595a45;
  left: 7vw;
}
main#admin > div {
  margin: 6vh auto;
  background: #5a595a1a;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: 2px 2px 5px 0px #00000029;
  /* border: inset #0000001f 0px; */
  border-radius: 14px;
}
main#admin > div input {
  display: block;
  margin: 0 0 2vh 0;
  width: 100%;
  height: 4vh;
  font-size: 1em;
}
main#admin > div select {
  width: 100%;
  display: block;
  background-color: white;
  border-style: none;
  height: 6vh;
  font-size: 1em;
}
main#admin > div div > button {
  margin: 1.5vh auto 0 auto;
  position: static;
  display: inline-block;
  padding: 10px 20px;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #00aa3c95;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 2.5em;
  border-style: none;
}
main#admin > div div > button.delete {
  background-color: #ff0000ad;
}
