header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 16vh;
  z-index: 10;
  background: white;
}
header img {
  width: 100vw;
  background-color: white;
  position: absolute;
  top: 1vh;
}
header#start {
  display: none;
}
main {
  font-family: Montserrat, sans-serif;
  margin: 17vh 0 3vh 0;
  padding-top: 1vh;
  top: 11vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: 14px;
}
.hidden {
  display: none;
}
#startlogga {
  width: 100%;
  padding-top: 12vh;
}
div#login {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 46vh auto auto auto;
}
div#login form {
  background-color: #00aa3c95;
  padding: 0.7em;
  border-radius: 10px;
}
#login #email,
#login #password,
#login #loginbutton {
  margin: 1vh 1vw;
  text-align: center;
}
#login #email input,
#login #password input,
#login #loginbutton input {
  width: 17em;
  height: 2.5em;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
  border-style: none;
}
#login #email button,
#login #password button,
#login #loginbutton button {
  margin: 1.5vh auto 0 auto;
  position: static;
  display: inline-block;
  padding: 10px 20px;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #00aa3c95;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 2.5em;
  border-style: none;
}
#register {
  text-align: center;
  background-color: white;
  padding-top: 2vh;
}
#register a {
  font-size: 0.8em;
  color: #9ad2ac;
}
.registerformcontainer input {
  width: 200px;
  text-align: center;
}
.registerformcontainer form {
  text-align: center;
}
.registerformcontainer form p {
  font-size: 12px;
  color: #009933;
  font-style: italic;
}
.registerformcontainer form button {
  margin: 1.5vh auto 0 auto;
  position: static;
  display: inline-block;
  padding: 10px 20px;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #00aa3c95;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 2.5em;
  border-style: none;
}
#welcome {
  font-size: 1em;
  text-align: center;
  font-style: italic;
  margin-bottom: 6vh;
  color: #565556bf;
}
.container {
  margin-top: 12vh;
}
.container > div,
.frame > div {
  margin: 8vh 5vw;
  padding: 3vh 2vw;
  background-color: rgba(90, 110, 120, 0.1);
  border-radius: 7px;
}
.container > div h2,
.frame > div h2 {
  text-align: center;
  color: #565556;
  margin: -39px auto;
  font-size: 31px;
  letter-spacing: 6px;
  font-weight: normal;
  height: 6vh;
}
.container > div h2 ~ p,
.frame > div h2 ~ p {
  color: #00000042;
  position: relative;
  top: 4vh;
  font-style: italic;
  font-family: -webkit-pictograph;
  text-align: center;
}
.container > div h2 a,
.frame > div h2 a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 6vh;
}
.container > div .text,
.frame > div .text {
  margin-top: 10vh;
}
.container > div .text p,
.frame > div .text p {
  margin-left: 3vw;
  font-family: Georgia, Times, 'Times New Roman', serif;
  background-color: #0799330f;
  border-radius: 5px;
  padding: 3vh 4vw;
  margin-top: 1.5vh;
  margin-bottom: 0vh;
  color: #0000009c;
}
