@academyGreen: #00aa3c;

header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 16vh;
  z-index: 11;
  background: white;

  div#countdown {
    z-index: 39;
    display: block;
    position: absolute;
    top: 7vh;
    left: 6vw;
    width: 22vw;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-weight: initial;
    color: #565556bd;
    display: none;

    & > div {

      font-size: 0.6em;
      text-align: center;
      background: white;

      &#numberOfDays {
        font-size: 5em;
        line-height: 63px;
        text-align: center;
      }
    }
  }

  & > h1.welcome {
    margin-bottom: 6vh;
    text-align: right;
    color: #565556;
    position: fixed;
    z-index: 20;
    top: 1.7vh;
    right: 7vw;
    font-size: 0.7em;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: initial;
  }

  img {
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 1vh;
    left: 43px;
  }
}

main {
  font-family: Montserrat, sans-serif;
  margin: 17vh 0 3vh 0;
  padding-top: 1vh;
  top: 11vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: 14px;
}

//--------------------------------------- HIDDEN ----------------------------------------------

.hidden {
  display: none;
}

//--------------------------------------- LOGIN ----------------------------------------------

header#start {
  opacity: 0;
}

main#index, main#forgot {

  div#startlogga img {
    width: 100vw;
  }

  div#login {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 46vh auto auto auto;

    #email, #password, #loginbutton {
      margin: 1vh 1vw;
      text-align: center;

      input {
        width: 17em;
        height: 2.5em;
        text-align: center;
        font-size: 1em;
        border-radius: 5px;
        border-style: none;
      }

      button {
        margin: 1.5vh auto 0 auto;
        position: static;
        display: inline-block;
        padding: 10px 20px;
        float: none;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 1px;
        background-color: #00aa3c95;
        color: white;
        width: 100%;
        border-radius: 5px;
        height: 2.5em;
        border-style: none;
      }
    }
  }

  form {
    background-color: #00aa3c95;
    padding: 0.7em;
    border-radius: 10px;
  }
}

#register {
  text-align: center;
  background-color: white;
  padding-top: 2vh;

  a {
    text-decoration: none;
    font-size: 0.8em;
    color: #9ad2ac;
  }
}

//------------------------------------------------ REGISTER --------------------------------------
main#register {

  & > form {
    text-align: center;

    & > p {
      text-align: center;
      color: #079933;

      & > input {
        width: 57vw;
        height: 30px;
        font-size: 12px;
        color: #757575;
        display: inline-block;
        border-radius: 7px;
        /*text-align: center;*/
        border-style: solid;
        border-color: #00aa3c14;
        box-shadow: inset 0px 0px 216px -111px #00aa3c;
      }

      & > select {
        width: 58vw;
        height: 36px;
        font-size: 12px;
        color: #757575;
        display: inline-block;
        border-radius: 7px;
        border-style: solid;
        border-color: #00aa3c14;
        box-shadow: inset 0px 0px 216px -111px #00aa3c;
      }
    }
  }

  & div#loginbutton > button {

    position: static;
    display: inline-block;
    padding: 10px 20px;
    float: none;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #00aa3c95;
    color: white;
    width: 57vw;
    border-radius: 5px;
    height: 2.5em;
    border-style: none;
  }
}

// ------------------------------------------------ HOME ------------------------------------------

main#home {
  font-family: Montserrat, sans-serif;
  margin: 21vh 0 3vh 0;
  padding-top: 1vh;
  background-color: white;
  font-size: 14px;
  display: block;

  & > div {
    margin: 6vh auto;
    background: #5a595a1a;
    padding: 1vh 3vh 1vh 3vh;
    box-shadow: 2px 2px 5px 0px #00000029;
    /* border: inset #0000001f 0px; */
    border-radius: 14px;

    &#sick {
      background-image: none;
      background-size: auto;
      margin: 7vh 0vw;
      padding: 3vh 3vh 3vh 3vh;
      border-radius: 15px;
      box-shadow: inset 0px 0px 154px -27px #673AB7;
      font-family: Montesserat, sans-serif;

      & > h2 {
        margin-bottom: 0em;
      }

      & > div > form > textarea {
        width: 100%;
        background: transparent;
        border: none;
        text-align: center;
        height: 7vh;
        font-size: 1em;
        resize: none;
      }

      & > div.text {
        display: none;
      }

      & div > form > div > button {
        margin: 1.5vh auto 0 auto;
        position: static;
        display: inline-block;
        padding: 10px 20px;
        float: none;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 1px;
        background-color: #00aa3c95;
        color: white;
        width: 100%;
        border-radius: 5px;
        height: 2.5em;
        border-style: none;
      }
    }

    &#workout {
      background-image: none;
      background-size: auto;
      margin: 7vh 0vw;
      padding: 3vh 3vh 3vh 3vh;
      border-radius: 15px;
      box-shadow: inset 0px 0px 154px -27px #CA278C;
      font-family: Montesserat, sans-serif;

      & > h2 {
        margin-bottom: 0em;
      }

      & > div > form > textarea {
        width: 100%;
        height: 7vh;
        font-size: 1em;
        resize: none;
      }
    }

    &#news {
      background-image: url(/graphics/open-book.jpg);
      /* background-position: center center; */
      background-size: 113vw;
      background-position: top;
      background-position-y: -4vh;
      filter: contrast(103%);
      padding: 3vh 9vw;
      min-height: 8vh;
      font-family: Montserrat, sans-serif;

      & > h2 {
        font-family: Montserrat, sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 1.2em;
        font-variant-caps: all-petite-caps;
        display: inline-block;
        margin: auto;
        width: 47%;
        transform: rotate(-0.6deg);
      }

      & > p.info {
        font-size: 0.8em;
        display: inline-block;
        width: 46%;
        font-family: inherit;
        margin: 1vh 0 0 4vw;
        transform: rotate(0.8deg);
      }

      & > div.text {
        display: flex;
        display: none;

        & > p {
          font-family: Montserrat, sans-serif;
          font-size: 1.1em;
          margin: 2vh 6vw 6vh 4vw;
          padding: 0vh 0vw 0vh 0vw;
          max-width: 37%;
          min-height: 25vh;
          display: inline-flex;
          background: none;

          &:first-child {
            transform: rotate(-0.6deg);

            &~p{
              transform: rotate(0.8deg);
            }
          }
        }
      }
    }

    &#food {
      background-image: none;
      background-size: auto;
      margin: 7vh 0vw;
      padding: 1vh 3vh 2vh 3vh;
      border-radius: 15px;
      box-shadow: inset 0px 0px 108px 1px #0086aa;
      font-family: Monterras, sans-serif;

      & > h2 {
        font-size: 2em;
      }

      & > div.text {
        display: none;
      }
    }

    & > h2 {
      font-family: Montserrat, sans-serif;
      letter-spacing: 2px;
      font-weight: 500;
      font-size: 1.9em;
      font-variant-caps: all-petite-caps;
    }

    & > p.info {
      font-size: 1em;
      font-family: Montesserat, sans-serif;
    }

    & > div.text {

      p {
        background-image: linear-gradient(168deg, white, #eeeeee 24%);
        border-radius: 10px;
        padding: 5vh 5vw;
        border: #eeeeee inset 0px;
      }

      & > a {
        text-decoration: none;
        color: inherit;

        & > div {
          margin: 5vh auto;
          background: #5a595a1a;
          padding: 1vh 3vh 1vh 3vh;
          box-shadow: 2px 2px 5px 0px #00000029;
          /* border: inset #0000001f 0px; */
          border-radius: 14px;
          background-position: top;
          filter: hue-rotate(74deg);
          background-size: 149vw;
          font-family: Montesserat, sans-serif;

          &#eatery {
            background-image: url(http://eatery.se/wp-content/themes/eatery.hubpage_tema_1.0.0/images/bkg01.jpg);
            background-size: cover;
            background-position: center center;
            filter: grayscale(66%);
          }

          &#kista {
            background-image: url(https://static.thatsup.co/content/img/article/15/dec/känd-krögarduo-bakom-nytt-restaurangkoncept-i-kista-galleria.jpg);
            background-size: cover;
            background-position: center center;
            filter: grayscale(61%);
          }

          &#Convini {
            background-image: url(/graphics/convini.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 13vh;

            & p {
              color: black;
              font-size: 1.5em;
            }
            & > h4 {
              color: black;
            }
          }

          &#Member24 {
            background-image: url(https://member24.se/app/uploads/2017/04/rigg-1440x809-1439x808.jpg);
            background-size: cover;
            background-position: center center;
            filter: grayscale(62%);
          }

          &#Fitness24 {
            background-image: url(https://sv.fitness24seven.com/uploads/22683224.jpg);
            background-size: cover;
            background-position: center center;
            filter: grayscale(62%);
          }

          &#Actic {
            background-image: url(https://www.actic.se/wp-content/uploads/2016/10/Kista1.jpg);
            background-size: cover;
            background-position: center center;
            filter: grayscale(58%);
          }

          h4 {
            color: white;
            font-size: 1.5em;
          }

          p {
            font-size: 1em;
            color: white;
            background: transparent;
          }
        }
      }
    }
  }

  & > form#makenews {
    margin: 6vh auto;
    background: #07993345;
    padding: 1vh 3vh 1vh 3vh;
    box-shadow: 2px 2px 5px 0px #00000029;
    border-radius: 14px;

    & > h2 {
      font-size: 1em;
      margin: 0;
      text-align: center;
    }

    & > div.text {
      display: none;

      & > textarea#content {
        width: 100%;
        height: 7vh;
        resize: none;
        background: transparent;
        border: none;
        font-size: 1.3em;
        text-align: center;
      }

      & > div > button {
        margin: 1.5vh auto 0 auto;
        position: static;
        display: inline-block;
        padding: 10px 20px;
        float: none;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 1px;
        background-color: #00aa3c95;
        color: white;
        width: 100%;
        border-radius: 5px;
        height: 2.5em;
        border-style: none;
      }
    }
  }

  & > a {
    text-decoration: none;

    & > div {
      margin: 6vh auto;
      background: #5a595a1a;
      padding: 1vh 3vh 1vh 3vh;
      box-shadow: 2px 2px 5px 0px #00000029;
      border-radius: 14px;

      &#confession {

        background-image: none;
        background-size: auto;
        margin: 7vh 0vw;
        padding: 3vh 3vh 3vh 3vh;
        border-radius: 15px;
        box-shadow: inset 0px 0px 154px -27px #00aa3c;
        font-family: monospace;

        & > p, & > h2 {
          text-align: left;
          display: block;
          color: black;
          font-size: 1.4em;
          font-weight: 100;
        }
      }

      &#faq {
        background-image: url(/graphics/faq_banner.jpg);
        background-position: top;
        height: 14vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: white;
        filter: hue-rotate(-27deg);

        & > h2 {
          color: #565556;
          text-align: left;
          margin: 5vh 1vw;
        }
      }

      &#admin {
        background-image: radial-gradient(#00aa3c, red 163%);
        & > p, & > h2 {
          text-align: center;
          display: block;
          color: white;
        }
      }

      & > h2 {
        color: white;
        text-align: right;
      }

      & > p.info {
        color: white;
        text-align: right;
      }
    }
  }
}

//-------------------------------------------------- FAQ ----------------------------

main#faq {

  & div {
    border-style: solid;
    border-radius: 7px;
    border-color: #eeeeee;
    background: #5a595a1a;
    margin: 0.5vh;
    padding: 0vh 0 0 2vw;

    & h3 {
      /* border-style: solid; */
      border-style: solid;
      border-radius: 7px;
      border-color: #eeeeee;
      background: #5a595a1a;
      margin: 0;
      padding: 3vh 0vw 3vh 3vw;
    }
  }

  & > div > div {
    background: white;
    padding: 3vh 4vw 3vh 4vw;
    font-size: 1.1em;
  }
}

// ------------------------------------------------- Confessions --------------------
@bubblegreen: #00aa3c;

main#confessions {

  margin: 17vh 0vw 0vh 1vw;

  & > div#changeTopic {
    margin: 6vh 3vw 7vh;

    & > div {
      display: inline-flex;
      border-radius: 6px;
      box-shadow: inset 0px 0px 263px -87px #0086aa;
      font-family: monospace;
      padding: 0vh 1vh;
      margin: 0.3vh 0vw;

      & > a {
        text-decoration: none;
        color: black;

        & > span#fat~h3 {
          color: white;
        }

        & > h3 {
          font-size: 0.9em;

          &:before {
            content: '#';
          }
        }
      }

      &#addTopic > form {
        padding: 0.85vh 0vh 1vh;

        & > h3 {
          font-size: 0.9em;
          display: inline;
          &:before {
            content: '>>';
          }
        }

        & > input {
          display: inline;
          background: transparent;
          border-style: none;
          width: 12vh;
          font-family: monospace;
          font-size: 0.9em;
          font-weight: bold;
          height: 2em;
        }

        & > button {
          display: inline;
          font-family: monospace;
          font-size: 0.9em;
          font-weight: bold;
        }
      }
    }
  }

  & > div#newConfession, & > div#newPost {
    margin: 7vh 3vw;
    padding: 0vh 4vw 0vh;
    border-radius: 15px;
    box-shadow: inset 0px 0px 263px -87px #00aa3c;
    display: block;
    height: 7em;

    & > form {

      & > textarea {
        background-color: transparent;
        border-style: none;
        padding: 4vh 0;
        resize: none;
        font-family: monospace;
        font-size: 1.1em;
        /* line-height: 1.1em; */
        border-right-style: solid;
        border-right-color: white;
        border-right-width: 3px;
        display: inline-flex;
        /* height: 6em; */
        vertical-align: middle;
      }

      & > div {
        display: inline-flex;
        height: 6em;
        width: 7em;

        & > button {
          color: #00000078;
          height: 100%;
          width: 100%;
          font-size: 1em;
          font-family: monospace;
          letter-spacing: 1px;
        }
      }
    }
  }

  & > blockquote {
    margin: 7vh 3vw;
    padding: 0vh 4vw 0vh;
    border-radius: 15px;
    box-shadow: inset 0px 0px 263px -87px #00aa3c;
    display: table;
    font-family: monospace;

    &#newConfession {
      border: inset 6px rgba(0, 170, 60, 0.2);
    }
    &:nth-child(7n) {
      box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.2);
    }

    &:nth-child(7n + 1) {
      box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.4);
    }

    &:nth-child(7n + 2) {
      box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.6);
    }

    &:nth-child(7n + 3) {
      box-shadow: inset 0px 0px 263px -87px rgba(0, 170, 60, 0.75);
    }

    & > p {
      display: block;
    }

    & > span.delete {
      position: relative;
      right: 8vw;
      top: -4vh;

      & > a {
        text-decoration: none;
        color: red;
        font-weight: bolder;
      }
    }

    & > time {
      display: block;
      position: absolute;
      font-size: 0.8em;
      color: #5a595a45;
      left: 7vw;
    }
  }
}

// ------------------------------------------------ADMIN ------------------------------

main#admin {
  & > div {
    margin: 6vh auto;
    background: #5a595a1a;
    padding: 1vh 3vh 1vh 3vh;
    box-shadow: 2px 2px 5px 0px #00000029;
    /* border: inset #0000001f 0px; */
    border-radius: 14px;

    input {
      display: block;
      margin: 0 0 2vh 0;
      width: 100%;
      height: 4vh;
      font-size: 1em;
    }

    select {
      width: 100%;
      display: block;
      background-color: white;
      border-style: none;
      height: 6vh;
      font-size: 1em;
    }

    div > button {
      margin: 1.5vh auto 0 auto;
      position: static;
      display: inline-block;
      padding: 10px 20px;
      float: none;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 1px;
      background-color: #00aa3c95;
      color: white;
      width: 100%;
      border-radius: 5px;
      height: 2.5em;
      border-style: none;

      &.delete {
        background-color: #ff0000ad;
      }
    }
  }
}
