<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<a href="/home">
    <header>
        <h1 th:if="${session.user.userType == 'Admin'}" class="welcome">
            <span th:text="${session.user.firstName} + ' (ADMIN)'"></span>
        </h1>
        <h1 th:unless="${session.user.userType == 'Admin'}" class="welcome">
            <span th:text="${session.user.firstName}"></span>
        </h1>
        <img src="/graphics/loggacentrerad.png"/>
    </header>
</a>

<main id="admin">

    <div id="addprogram">
        <h2>Lägg in nytt program</h2>
        <div>
            <form action="/addprogram" method="post">
                <input type="text" name="name" placeholder="Namn på programmet (tex JavaHT17)"/>
                <input type="text" name="date" placeholder="Examensdatum (yymmdd)"/>
                <div>
                    <button type="submit">Lägg till</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteprogram">
        <h2>Ta bort ett program och alla dess användare</h2>
        <div>
            <form action="/deleteprogram" method="post">

                <select id="program" name="programtodelete">
                    <option value="0">Klass</option>
                    <option th:each="program : ${programList}"
                            th:text="${program.name + ' (' + program.graduation+')'}"
                            th:value="${program.id}"></option>
                </select>
                <div>
                    <button type="submit" class="delete">Radera program</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteuser">
        <h2>Ta bort en enskild användare</h2>
        <div>
            <form action="/deleteuser" method="post">

                <select id="user" name="usertodelete">
                    <option value="0">Användare</option>
                    <option th:each="user : ${userList}"
                            th:text="${user.firstName + ' ' + user.lastName+' (' + user.userType + ')'}"
                            th:value="${user.userID}"></option>
                </select>
                <div>
                    <button type="submit" class="delete">Radera användare</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deletetopic">
        <h2>Radera tråd från Academy Forum</h2>
        <div>
            <form action="/deletetopic" method="post">
                <select id="topics" name="topictodelete">
                    <option value="0">Trådar</option>
                    <option th:each="topic : ${topics}"
                            th:text="${topic.name}"
                            th:value="${topic.id}"></option>
                </select>
                <div>
                    <button type="submit" class="delete">Radera tråd</button>
                </div>
            </form>
        </div>
    </div>


</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="script.js" type="text/javascript"></script>
</body>
</html>