<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bikten</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<a href="/home">
    <header>
                <span th:switch="${session.user.userType}">
            <h1 th:case="'Admin'" class="welcomeadmin"><span class="name" th:text="${session.user.firstName} + ' ' + |(${session.user.userType})|"/></h1>
            <h1 th:case="'Student'" class="welcome"><span class="name" th:text="${session.user.firstName}"/></h1>
            <h1 th:case="'Teacher'" class="welcome"><span class="name" th:text="${session.user.firstName}"/></h1>
        </span>
        <img src="/graphics/loggacentrerad.png"/>
    </header>
</a>
<main id="confessions">
    <div id="newConfession" class="">

        <form th:action="@{/newConfession}" method="post" th:object="${newConfession}">

                <textarea placeholder="Lätta på hjärtat med en anonym bekännelse"
                          th:field="*{content}"></textarea>
            <div>
                <button type="submit">SKICKA</button>
            </div>
        </form>

    </div>

    <blockquote th:each="confession : ${confessions}">
        <p th:text="${confession.content}"></p>

        <span th:if="${session.user.userType == 'Admin'}" class="delete">

            <a th:href="@{'/deleteConfession/' + ${confession.id}}">-</a>

        </span>

        <time th:text="${confession.timeStamp}"></time>
    </blockquote>

</main>
<script src="script.js" type="text/javascript"></script>
</body>
</html>