<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bikten</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<a href="/home">
    <header>
        <h1 th:if="${session.user.userType == 'Admin'}" class="welcome">
            <span th:text="${session.user.firstName} + ' (ADMIN)'"></span>
        </h1>
        <h1 th:unless="${session.user.userType == 'Admin'}" class="welcome">
            <span th:text="${session.user.firstName}"></span>
        </h1>
        <img src="/graphics/loggacentrerad.png"/>
    </header>
</a>
<main id="confessions">

    <div id="changeTopic">
        <div>
            <a href="/confessions/0"><h3>Bikten(anonymt)</h3></a>
        </div>
        <div class="topic" th:each="topic : ${topics}">
            <a th:href="@{/confessions/}+${topic.id}">
                <span th:if="${topic.id == topicId}" id="fat"></span>
                <h3 th:text="${topic.name}">
                </h3>
            </a>
        </div>
        <div id="addTopic">
            <form action="/addTopic" method="post">
                <h3></h3>
                <input type="text" name="newtopic"/>
                <button type="submit">#NyTråd</button>
            </form>
        </div>
    </div>

    <div id="newConfession" class="" th:if="${topicId == 0}">

        <form th:action="@{/newConfession}" method="post" th:object="${newConfession}">

                <textarea placeholder="Lätta på hjärtat med en anonym bekännelse"
                          th:field="*{content}"></textarea>
            <div>
                <button type="submit">SKICKA</button>
            </div>

        </form>

    </div>

    <div id="newPost" th:unless="${topicId == 0}">
        <form th:action="@{/newPost/} + ${topicId}" method="post" th:object="${newPost}">
            <textarea placeholder="Skriv ett meddelande"
                      th:field="*{content}">
            </textarea>
            <input type="hidden" th:value="${session.user.userID}"/>
            <div>
                <button type="submit">SKICKA</button>
            </div>
        </form>

    </div>


    <blockquote th:each="confession : ${confessions}" th:if="${topicId == 0}">
        <p th:text="${confession.content}"></p>

        <span th:if="${session.user.userType == 'Admin'}" class="delete">

            <a th:href="@{'/deleteConfession/' + ${confession.id}+ '/' + ${topicId}}">-</a>

        </span>

        <time th:text="${confession.timeStamp}"></time>
    </blockquote>

    <blockquote th:each="post : ${posts}" th:unless="${topicId == 0}">

        <p><span th:text="${post.name}"/>: <span th:text="${post.content}"/></p>

        <span th:if="${session.user.userType == 'Admin'}" class="delete">

            <a th:href="@{'/deletePost/' + ${post.id} + '/' + ${topicId}}">-</a>

        </span>

        <time th:text="${post.timestamp}"></time>
    </blockquote>

</main>
<script src="/script.js" type="text/javascript"></script>
</body>
</html>