<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<a href="/home">
    <header>
        <h1 id="welcome"><span id="name" th:text="${session.user.firstName} + ' ' + |(${session.user.userType})|"/></h1>
        <img src="/graphics/loggacentrerad.png"/>
    </header>
</a>
<main id="faq">

    <div>
        <h2>Om oss</h2>
        <div>
            <h3>Öppettider</h3>
            <div> Våra öppettider är bla blaa </div>
            <h3>Lokalerna</h3>
            <div> Våra lokar hit och dit</div>
        </div>
    </div>


    <div class="container">

        <div id="lokaler">

            <h2>Våra lokaler och det som händer här!</h2>

            <div class="text hidden">

                <h3>Vad har Academy för öppettider?</h3>
                <div>Som konsult och lärare på Academy vill vi att du ska nyttja våra lokaler till max!
                Du har tillgång till lokalerna:
                Vardagar 06-23
                Helger 09-20
                    Röda dagar STÄNGT.
                För att komma in behöver du den grå blippen som du får första dagen på utbildningen. Tappar du bort den
                får du självklart en ny, men det kostar 400kr, så håll i den hårt! Porten vid gatan är öppen mellan
                    07:30-17:30 på vardagar. För att komma in utöver dessa tider använd koden: 1923</div>

                <h3>Vem ansvarar för lokalerna?</h3>
                <div>Emma har det övergripande ansvaret för lokalerna men tillsammans ansvarar vi för att se till att det är
                    fint på Academy!</div>

                <h3>Hur fungerar receptionen?</h3>
                <div>Academys är inte en klassisk bemannad reception men Emma arbetar från receptionen och när Academygänget
                    är på plats jobbar de också där, kom och säg hej!</div>

                <h3>Vad har Academy för Wifi?</h3>
                <div>För elever och lärare: AW-ACADEMY Lösenord: Melodifestivalen
                    För besökare: AW-BYOD</div>

                <h3>Musik är livet - vem är DJ på Academy?</h3>
                <div>På Academy gillar vi musik. Därför har vi en padda i receptionen med Spotify som alla kommer åt.
                Lösen paddan: 1923
                    Lösen Spotify: academy4ever</div>

                <h3>Kan jag skriva ut på Academy?</h3>
                <div>Vi har en skrivare på Academy för enkla utskrifter – vill du skriva ut material på flera sidor löser du
                    det på egen hand (biblioteket i Kista Galleria).</div>

                <h3>Vad gör vi om det börjar brinna?</h3>
                <div>Vid brandlarm, ta dig ut ur lokalerna så fort som möjligt och ta dig till uppsamlingsplatsen som är på
                grusparkeringen till vänster om entrén på Borgarfjordsgatan. Vid alla utgångar på Academy sitter tavlor
                som anger uppsamlingsplats mm – ta dig tid att läsa igenom dem under första veckan på utbildningen
                    utöver den genomgång Emma håller.</div>

                <h3>Jag har frågor om arbetsmiljö - vem vänder jag mig till?</h3>
                <div>På Academy ansvarar Rebecca för arbetsmiljön. Har du frågor eller funderingar kring detta kan du vända
                    dig till henne.</div>

                <h3>Vad gör jag om någon ringer på och vill bli insläppt på Academy?</h3>
                <div>Vi vill ge alla som kommer till oss ett varmt välkomnande, men bara de som har blipp kan komma in i
                lokalerna på egen hand – släpper du in någon är den personen ditt ansvar och därför ser du också till
                att leta upp den person som besökaren ska träffa (exempelvis kundbesök, personal från Academic Work
                    eller liknande).</div>

                <h3>Alkoholpolicy</h3>
                <div>Det är okej att ta med egen dryck och vara kvar efter 17 för att lära känna varandra – men inte att ha
                fest och inte heller bjuda in utomstående. Det är inte okej att ta av den alkohol som Academy köpt in
                    till event mm.</div>

                <h3>Jag har så trevligt med mina kollegor på Academy, kan vi använda lokalerna för samkväm efter att dagen
                    är slut?</h3>
                <div>Academy är en skola men fungerar som en arbetsplats – självklart får ni stanna kvar och umgås med varann
                efter 17.00. Både eftersom vi vill att ni studerar så mycket som möjligt men också för att ni ska lära
                känna varann. Det är okej att beställa mat men ha koll på alkoholpolicy och kom ihåg att det bara är
                    personer med blipp som får vara med.</div>

                <h3>Vad innebär det att ha köksvecka?</h3>
                <div>Alla som vistas på Academy hjälper till att tömma diskmaskiner och hålla det rent och fint i köket (och
                annan stans). När vi är många på som vistas på Academy samtidigt använder vi ”köksvecka” vilket betyder
                att en klass har extra ansvar för att tömma diskmaskinerna. Om du inte vet hur du fyller på
                    diskmaskinerna – leta upp Rebecca! Kom ihåg att bära bort koppar till kaffebaren också!</div>

                <h3>Vilket gott kaffe – hur hjälper jag till att sköta kaffemaskinerna?</h3>
                <div>Du hittar kaffebönor under kaffemaskinerna, se till att fylla på med rätt bönor bara! Bredvid behållarna
                står det vilken böna som ska användas, antigen ”Verde” eller ”Sumatra”. Någon gång per dag behöver vi
                tömma sumplådan, det gör du enkelt genom att dra ut den när maskinen varnar. Efter att du tömt lådan
                    sätter du tillbaka den och då fungerar det att ta en god kopp igen.</div>

                <h3>Hur fungerar återvinningen?</h3>
                <div>I köket vid fönsterna finns tre stationer för återvinning; en för plast, en för kartong och en för
                    matavfall. På Academy tänker vi miljövänligt!</div>

                <h3>När äter vi lunch/fika/rast?</h3>
                <div>Lunchen är oftast 12.00-13.00 – om vi är många klasser igång samtidigt brukar vi anpassa oss efter
                varann så det inte blir köer vid mikrovågsugnarna/diskmaskinerna.
                Rast: Återkommande mellan passen.
                    Fika: På onsdagar och fredagar har vi gemensam kafferast klockan 15:00</div>

                <h3>Kan jag ta med egen mat?</h3>
                <div>Självklart! På Academy har vi både kyl och frys där du kan förvara dina matlådor. Vi har också flera
                mikrovågsugnar så ni kan värma maten när det är dags för lunch. Diskade matlådor läggs i den nedersta
                    lådan längst till vänster vid huvudköket – leta där om du inte hittar din efter att du diskat den!</div>

                <h3>Hur fungerar Convinikylen?</h3>
                <div>Första dagen på Academy får du ett Convinikort. Registrera dig och det betalsätt du vill ha – sen kan du
                börja handla från kylen. Har du kanske glömt matlåda eller är sugen på något annat en dag? På Academy
                    har vi två Convinikylar fulla med mat och dryck så du enkelt kan köpa något på plats.</div>

                <h3>Jag vill träna på gymmet Member24 i huset- har vi några förmåner?</h3>
                <div>I NOD-huset finns ett gym. https://member24.se/?city=3152
                Som konsult på Academy har vi ett förmånligt erbjudande- anmäl att du är från Academy när du registrerar
                dig så gäller följande:
                ⦁ Studentpris 249kr/mån
                ⦁ Max bindningstid 2 mån (du kan alltså teckna för de 12 veckor du är här)
                ⦁ Ingen startavgift (annars 299kr)
                    Happy training!</div>

                <h3>Jag vill veta mer om NOD-huset, vart hittar jag information?</h3>
                <div>Här hittar du mer information om NOD-huset och vad som händer här. http://kistanod.se/om-nod
                På nästa sida hittar du mer information om din tid som konsult på Academy och vad som händer efter
                    programmets slut.</div>

            </div>
        </div>


        <div id="tiden på academy">

            <h2>Frågor rörande tiden på Academy</h2>

            <div class="text hidden">

                    <h3>Vilka förmåner får jag ta del av under Academy tiden?</h3>
            <div>Som konsult hos Academy får du flertalet förmåner. Du får en sprillans ny dator att behålla efter
                utbildningen och allt utbildningsmaterial som du behöver för att tillgodogöra dig utbildningen.
                Utbildningen får du kostnadsfritt och den är värd 150 000 kr. Vidare får du ta del av
                inspirationskvällar där du
                har möjlighet att stärka ditt nätverk med Academic Work internt såväl som med deras kunder.
                Academy bjuder vid tillfällen på frukost, lunch, middag och fika. Det förekommer även afterworks under
                programmets gång.
                Under tiden på Academy är du försäkrad. Då har också möjlighet att träna med extra bra förmåner på
                Member24.</div>

                <h3>Jag blev kallad på intervju på en annan ort, hur är det med reseersättning?</h3>
            <div>Blir en konsult kallad på intervju på annan ort under utbildningen står Academic Work för
                reseersättning mot uppvisande av kvitto till respektive konsultchef.</div>

                <h3>Om jag behöver vara ledig vem vänder jag mig till då?</h3>
            <div>Det är av stor vikt att man som konsult inte missar någon del av programmet. Skulle man
                behöva vara ledig av någon anledning tar man i god tid kontakt med både Program Manager och huvudlärare.</div>

                <h3>Hur och till vem sjukanmäler jag mig under programmet?</h3>
            <div>Samma morgon som du vaknar sjuk mailar du till Program Manager (Sissel, David, Saga eller
                Gabbie) och den lärare som håller i dagens pass. Om du går ett program där ni har en assisterande lärare
                ska du istället maila Program Manager och assisterande lärare. Därefter håller du samtliga uppdaterade
                varje dag till dess att du är tillbaka.</div>

                <h3>Vad gör jag vid försening?</h3>
            <div>Förseningar kan drabba alla, men vi godkänner inte upprepade tillfällen. Vid försening mailar du till
                huvudlärare och Program Manager.</div>

                <h3>Var vänder jag mig om jag är intresserad av ett kundföretag eller tjänst som publicerats på Academic Works hemsida?</h3>
            <div>Längst ned i varje annons anges ett namn på den person som är ansvarig rekryterare för tjänsten.
                Kontakta denna person på mailadress förnamn.efternamn@academicwork.se alternativt mailar du till den
                teammail som anges i annonsen.</div>

            <h3>Vart vänder jag mig om jag är intresserad av ett kundföretag eller tjänst som inte
                publicerats på Academic Works hemsida?</h3>
            <div>Skulle du vara intresserad av ett företag eller tjänst så vill vi att du vid alla
                tillfällen går via Academic
                Work. Ta då kontakt med din Program Manager som kopplar dig vidare till rätt person och ger dig mer
                information.</div>

                <h3>Vem är min kontaktperson hos Academic Work under programmet?</h3>
                <div>Under tiden du utbildas hos Academy är det din Program Manager som är ansvarig kontaktperson.</div>

                <h3>Vem är min kontaktperson hos Academic Work efter programmet?</h3>
            <div>I slutet av programmet kommer samtliga konsulter i Stockholm fördelas till tre olika
                ansvariga, dessa
                tre är Academic Works IT Team Manager på leveransavdelningen. För de konsulter som tillhör andra städer
                finns redan en förankrad kontakt med ansvarig Consultant Manager eller Academy Recruiter. När du sedan
                är ute på uppdrag hos något av Academic Works kundföretag skiftas ansvaret till den Consultant Manager
                som ansvarar för kunden. När eller om uppdraget tar slut återgår ansvaret till IT Team Manager
                alternativt
                till nästa Consultant Manager som ansvarar för ditt nästa uppdrag.</div>

                <h3>Jag har hittat en tjänst via Academic Work utomlands, kan jag söka den?</h3>
                <div>Ta dialog med din Program Manager under programmet, efteråt tar du dialog med din CM.</div>

            <h3>Jag kommer att arbeta som konsult på annan ort, varför ska jag delta på Terrific Thursdays
                (TT)?</h3>
            <div>TT ska ses som en obligatorisk chans och en av de främsta förmånerna för samtliga
                konsulter. Redan under programmet är det viktigt att tänka som en konsult och ta ansvar för att bredda
                sitt nätverk. Academy och Academic Work förutsätter därför att samtliga konsulter oavsett ort deltar
                dessa kvällar och även under övriga aktiviteter utanför schemalagd tid. Förutom chans till att bredda
                sitt kontaktnät är Academys förväntan att man som konsult ser detta som en chans att lära sig något nytt,
                mingla eller fördjupa sina kunskaper ytterligare.</div>

                <h3>Vad är det för dresscode under programmet?</h3>
            <div>Business casual vilket betyder mindre informell klädsel än kostym och generellt mer formell klädsel än
                avslappnad stil. Som konsult ska du alltid vara redo att träffa Academic Work och deras kunder och det
                är därför av stor vikt att framträda professionellt.</div>

                <h3>Kan jag gå på intervju under lektionstid?</h3>
            <div>Intervjuer är alltid högt prioriterade, stäm av med läraren vad du kan läsa på i efterhand för att inte
                halka efter i utbildningen. Konsultcheferna på Academic Work har som ambition att förlägga intervjuer på
                morgon, lunch eller senare eftermiddag men de kan inte garantera att detta alltid kommer vara möjligt
                för kundföretaget. Här förväntar vi oss att man som konsult anpassar sig.</div>

                <h3>Ett företag kontaktade mig direkt, hur ska jag hantera det?</h3>
                <div>Informera din Program Manager om detta så tar hen ärendet vidare.</div>

                <h3>Ersätter Academy datorn om den går sönder?</h3>
            <div>Under utbildning förutsatt att man inte varit uppenbart ovaksam. Första steget är att lämna in datorn
                för lagning. Kontakta din Program Manager så hjälper hon dig.</div>

                <h3>Får jag behålla datorn efter avslutat program?</h3>
                <div>Ja. Grattis!</div>

            </div>
        </div>


        <div id="tiden efter academy">

            <h2>Frågor rörande tiden efter programmet</h2>

            <div class="text hidden">

                    <h3>När får jag min första lön?</h3>
                <div>Du erhåller din första inkomst kalendermånaden efter det att du avslutat programmet. Exempel: Du tar
                examen från utbildningen den 7 april 2017. Ditt anställningskontrakt går i ett aktivt läge den 10 april
                2017, du erhåller din första lön den 25 maj. Skulle den 25e infalla en röd dag eller helgdag kommer
                lönen utbetalas i förtid närmsta vardag.
                Observera att din första lön är procentuellt anpassad till antalet dagar du varit arbetsför. Exempel: Om
                ditt anställningskontrakt går i ett aktivt läge den 10 april 2017 så kommer du alltså inte erhålla en
                    full garantilön den 25 maj.</div>

                <h3>Vad innebär det att min lön är timbaserad med 133 garantitimmar?</h3>
                <div>Din lön är timbaserad vilket innebär att du har en grundlön per timme som betalas utifrån hur många
                normaltidstimmar du arbetat. Skulle du inte komma upp i 133h är du som konsult ändå alltid garanterad
                    din grundlön per timme * 133h.</div>

                <h3>Vad innebär prövotid och när går den ut?</h3>
                <div>Du har erbjudits en tillsvidareanställning med sex månaders prövotid. När fem månader har passerat från
                det att ditt avtal gick i aktivt läge ska din CM ta en dialog med dig rörande fortsatt
                tillsvidareanställning. Gör din CM inte det övergår anställningen per automatik till en
                    tillsvidareanställning.</div>

                <h3>Får jag koda egna projekt på min fritid eller går det emot de immateriella rättigheterna?</h3>
                <div>De immateriella rättigheterna inkräktar inte på dina privata projekt. Det innebär att du får programmera
                och skapa på din fritid och att du äger det du skapar. Det är dock viktigt att poängtera att du inte får
                kopiera eller använda kod från det företag du arbetar/arbetat hos, och du får inte starta upp
                    konkurrerande verksamhet.</div>

                <h3>Vad gäller vid röda dagar och halvdagar hos kundföretaget jag arbetar för som konsult?</h3>
                <div>Som konsult och anställd hos Academic Work förhåller du dig vid alla punkter till kollektivavtalet
                mellan bemanningsföretagen och Unionen/Akademikerförbunden. Du följer således avtalet och inte vad som
                    är praxis hos kunden. Är du osäker på vad som gäller fråga din Consultant Manager.</div>

                <h3>Vilka förmåner får jag ta del av som konsult hos Academic Work?</h3>
                <div>Som konsult via Academic Work får du ta del av del klassiska förmånspaketet. Detta förmånspaket
                presenteras till konsulterna i slutet av programmet av IT TM.
                ⦁ En webbaserad introduktion som inkluderar information så som villkor,
                terminalglasögon/synundersökning, friskvårdsbidrag, föräldraledighet, försäkringar, pensionsavsättningar
                etc.
                ⦁ En tydlig bild av lönemodellen, lönespecifikation och andra förmåner.
                ⦁ En personlig pensionsrådgivning via Lifeplan, fullt betald av Academic Work.
                ⦁ Unika och eftertraktade erbjudanden från hundratals externa företag och partners inom hälsa, kultur,
                    restauranger, utbildning, resor osv.</div>

                <h3>Hur fungerar det med semester?</h3>
                <div>Med semesterår menas tiden från och med den 1 april ett år till och med den 31 mars påföljande år
                (exempelvis 1 april 2017 - 31 mars 2018). Motsvarande tid närmast före ett semesterår kallas
                intjänandeår (exempelvis 1 april 2017- 31 mars 2018). Under intjänandeåret tjänar du som konsult in din
                semesterlön. Du tjänar in cirka två betalda semesterdagar per arbetad kalendermånad. Under semesteråret
                får du sedan ta ut din intjänade semester.
                ⦁ Alla anställda i Sverige har enligt Semesterlagen rätt till 25 semesterdagar per semesterår.
                ⦁ Om den anställde påbörjar sin anställning efter den 31 augusti har denne rätt till fem semesterdagar
                aktuellt semesterår.
                    ⦁ Under intjänandeåret utgår semesterdagarna som obetalda.</div>

                <h3>Vad innebär det att vara tillgänglig konsult?</h3>
                <div>Det kan vara så att du inte har ett färdigt uppdrag som startar direkt efter examen. Under en sådan
                period kommer du att ha dialog med ansvarig IT Team Manager alternativt din konsultchef. Under tiden som
                tillgänglig kommer du att komma i kontakt med vår IT- konsult Niklas som kommer från Netlight och är
                inhyrd specifikt för att stötta upp Academy-konsulterna. Niklas kommer introducera dig till ett projekt
                hos Academic Works interna IT avdelning där du kommer fortsätta att bygga din kompetens i projekt till
                dess att du får ett uppdrag/ett nytt uppdrag.
                Under en tillgänglighetsperiod erhåller du din garantilön , som blir procentuellt anpassad efter den
                period du är tillgänglig. Ponera att du är tillgänglig under en månads tid erhåller du motsvarande 133h
                    lön enligt avtal.</div>

                <h3>Vilka arbetstider och ersättning gäller som tillgänglig konsult?</h3>
                <div>Du får enligt avtal ersättning för 133 garantitimmar, under dessa timmar förutsätter vi att du antingen
                är på plats hos Academic Works IT avdelning, alternativt hos något av våra kontor i Sverige. Vi erbjuder
                dig praktik med garantilön hos vår IT avdelning och vi ser därför att du är där på heltid och fortsätter
                    med din kompetensutveckling.</div>

                <h3>När kan jag bli överrekryterad till ett kundföretag?</h3>
                <div>Det finns ingen mall för exakt när och om det kommer ske. Uppdragen hos Academic Works kundföretag
                skiljer sig åt i omfattning och detta påverkas du som konsult av indirekt. Academic Works standardavtal
                gentemot kundföretagen innefattar 2004 arbetade normaltidstimmar (vilket motsvarar ca 12 månader).
                Kundföretaget kan dock ha ett mer förmånligt ramavtal eller annan överenskommelse med Academic Work. För
                att veta vad kundföretagets plan är och om överrekrytering är aktuellt i framtiden, ta kontakt med
                    ansvarig Consultant Manager för uppdraget när detta är aktuellt.</div>

            </div>
        </div>


        <div id="ordlista">

            <h2>Ordlista</h2>

            <div class="text hidden">
                <p class="firstp">

                    Academy – Programarrangör, dotterbolag i Academic Work koncernen.</p>
                <p>Academic Work – Din arbetsgivare, förkortas ofta AW.</p>
                <p>Program – Utbildningen.</p>
                <p>Moment – En del av kursen, ex. UX eller SCRUM</p>
                <p>Kollegor – Under programmet hänvisar deltagarna till varandra som kollegor.</p>
                <p>Konsult – Vad Academic Work kallar deltagaren under utbildningen samt under anställning
                    för Academic Work även om anställningsavtalet startar efter examen.</p>
                <p>Accelerated Learning Program – Utbildningskonceptet, utgångspunkten för att människor lär
                    sig mer effektivt och snabbare när hela hjärnan är engagerad.</p>
                <p>Action Learning – Sättet att verkställa pedagogiken på. Bygger på tanken att lärande
                    kräver tillämpad kunskap med kritisk reflektion och att undervisningen därigenom måste utgå från att
                    arbeta med verkliga problem och lösningen av dem.</p>
                <p>Blended Learning – En kombination av traditionell och datorstödd undervisning.</p>
                <p>Formativ bedömning – Används i syfte att stimulera fortsatt lärande och är en bedömning
                    som görs för att den lärande skall förstå hur man ligger till i kunskapsutvecklingen som
                    utgångspunkt
                    för fortsatt lärande.</p>
                <p>Growth Mindset – Innebär att lärandet ses som något som kan utvecklas och att övning
                    faktiskt ger färdighet.</p>
                <p>Peer to Peer – En metod för lärande som utgår ifrån att lärande inte nödvändigtvis måste
                    utgå från läraren, utan att jämbördiga kollegor (”peers”) tillsammans i ett strukturerat och
                    flexibelt
                    arbetssätt lär av varandra.</p>
                <p>AM – Account Manager, går även under namnet kundansvarig.</p>
                <p>CM – Consultant Manager, går även under namnet konsultchef.</p>
                <p>RC – Recruitment consultant, rekryteringskonsult.</p>
                <p>AR - Academy recruiter, rekryterar in konsulter till programmen, oftast en CM i
                    företagsspecifika program och en RC i öppna program.</p>
                <p>RA – recruitment assistent, arbetar som assistent till RC, kan jobba både heltid och
                    deltid beroende på.</p>
                <p>SRA – Staffing and Recruitment Assistant, deltidsassistenter till CM och IT TM. RA och SRA
                    stöttar CM och RC i sitt arbete. Dessa CM och RC är i sitt led dem som kan jobba som AR vilket
                    betyder
                    att vi jobbar tätt med flera personer i dessa positioner.</p>
                <p>TM – Team Manager på leveransavdelningen, chef över CM.</p>
                <p>BAM – Business Area Manager, ansvarig för utvecklingen av affärsområdet på Academic
                    Work.</p>
                <p>BD – Business Developer, stöttar AM och CM i affären. Rapporterar till BAM.</p>
                <p>SPS – Sales Process Specialist, lokal säljchef på ett kontor.</p>
                <p>OPS – Operation Process Specialist, lokal ”leveranschef” på ett kontor.</p>
                <p>BM – Branch Manager, kontorschef på Academic Work.</p>
                <p>PM – Program Manager, programansvarig på Academy.</p>
                <p>CPC – Campus and Program Coordinator, Campus- och programkoordinator på Academy.</p>
                <p>PC – Program Coordinator, programkoordinator på Academy.</p>
                <p>Företagsspecifika program – Academy förser arbetsmarknaden med kundanpassade program inom
                    skilda affärsområden och kompetenser. Under hösten 2017 har Academy exempelvis ett program skapat
                    för
                    Siemens.</p>
                <p>EPS – Education Program Specialist, säljer företagsspecifika Academy program.</p>

            </div>
        </div>


    </div>


</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="script.js" type="text/javascript"></script>
</body>
</html>

