<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<header>

</header>
<main>
    <div class="container">
        <h1>Välkommen <span th:text="${name}" />!</h1>
    </div>
    <div id="news">
        <h2>Nyheter</h2>
        <p>Detta är en nyhet</p>
        <p>Detta är också en nyhet som sträcker sig ut över flera rader hahahaha ahaha ah aha ah a ahahhahahah ahahahah hahaha ha ahhaha a</p>
    </div>
    <div id="travel">
        <div id="gohome">Åk hem</div>
        <div id="gethere">Åk hit</div>
    </div>
    <div id="faq">
        FAQ
    </div>
    <div id="food">
        MAT
    </div>
    <div id="sick">
        SJUK!
    </div>
    <div id="Boka grupprum">
        Grupprum
    </div>
    <div id="confession">
        BIKT
    </div>
</main>
<footer>
    © Pontus, Tomas och Kemal
</footer>
</body>
</html>