<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<a href="/home">
    <header>

    </header>
</a>
<main>

    <h1 id="welcome">Inloggad som <span id="name" th:text="${session.user.firstName}"/></h1>

    <div class="container">
        <div id="news">
            <h2>Nyheter <span class="arrow"></span></h2>
            <p class="hidden">På fredag är det fika i kaffe-loungen.</p>
            <p class="hidden">Någon har lämnat en grön halsduk i en av toaletterna. Prata med någon i receptionen,
                återfås mot beskrivning.</p>
        </div>
        <div id="travel">
            <div id="gohome">Åk hem</div>
            <div id="gethere">Åk hit</div>
        </div>
        <div id="faq">
            FAQ
        </div>
        <div id="food">
            MAT
        </div>
        <div id="sick">
            SJUK!
        </div>
        <div id="Boka grupprum">
            Grupprum
        </div>
        <a href="/confessions">
            <div id="confession">
                BIKTEN
            </div>
        </a>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="script.js" type="text/javascript"></script>
</body>
</html>