<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Academy Helper</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<header id="start">
</header>
<main id="forgot">
    <div id="startlogga">
        <img src="/graphics/loggacentrerad.png" />
    </div>
    <div id="login">
        <form action="/login" method="POST">
            <p>Inlogg misslyckades <a href="/forgot">Glömt lösenord?</a></p>
            <div id="email">
                <input type="email" name="email" placeholder="Mailadress"/>
            </div>
            <div id="password">
                <input type="password" name="password" placeholder="Lösenord"/>
            </div>
            <div id="loginbutton">
                <button type="submit">GO!</button>
            </div>
        </form>
        <div id="register">
            <a href="/register">Inte medlem än?</a>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="script.js" type="text/javascript"></script>
</body>
</html>