<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Academy Helper Registrering</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>
<body>
<header>

</header>
<main>
    <div class="registerformcontainer">
        <form action="/register" th:object="${user}" method="POST">

            <p><input type="email" name="email" th:field="*{email}" placeholder="Email"/></p>
            <p th:if="${#fields.hasErrors('email')}">Emailaddressen är redan registrerad</p>

            <p><input type="text" th:field="*{firstName}" placeholder="Förnamn"/></p>
            <p th:if="${#fields.hasErrors('firstName')}">Ditt förnamn måste vara mellan 2 och 50 tecken långt!</p>

            <p><input type="text" th:field="*{lastName}" placeholder="Efternamn"/></p>
            <p th:if="${#fields.hasErrors('lastName')}">Ditt efternamn måste vara mellan 2 och 50 tecken långt!</p>

            <p><input type="text" th:field="*{homeAddress}" placeholder="Adress"/></p>
            <p th:if="${#fields.hasErrors('homeAddress')}">Din adress måste vara mellan 5 och 50 tecken lång!</p>

            <p><input type="password" name="password" th:field="*{passWord}" placeholder="Lösenord"/></p>
            <p><input type="password" name="password2" th:field="*{passWord2}" placeholder="Upprepa lösenord"/></p>
            <p th:if="${#fields.hasErrors('passWord')}">Lösenordet matchar inte eller är för kort!</p>


            <p><select id="program"
                       th:field="*{program}">
                <option value="0">Klass</option>
                <option th:each="program : ${programList}"
                        th:text="${program.name}"
                        th:value="${program.id}"></option>

            </select></p>

            <p><input type="text" name="activationcode" placeholder="Aktiveringskod"/></p>

            <p id="loginbutton">
                <button type="submit">GO!</button>
            </p>
        </form>
    </div>
</main>
</body>
</html>